@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

div.wrapper {
    /* This is where your wrapper code would go */
    text-align: center;
    width: 90%;
    height: 90%;
	margin: auto;
    background-color: #AAAAAA;
	box-shadow: 5px 5px 1px 1px #666666;
}

.item{
    background-color: orange;
    width: 100px;
    height:100px;
    margin: 300px auto 0 auto;
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

h1 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: teal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    padding: 5px;
}

.fade-in{
    animation: fadeIn 5s;
}

@keyframes fadeIn{
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.facebook-button {
    background: url('fblogo.png') left center no-repeat;
    padding-left: 15px;
}

body {
	width: auto;
	height 100%;
    opacity: 1;
    transition: 0.4s opacity;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

body.fade {
    opacity: 0;
    transition: none;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.button {
    background-color: rgb(76, 135, 175);
    border: none;
    color: blue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}


div.b {
    text-align: left;
}

div.c {
    text-align: right;
}

div.c {
    text-align: justify;
}

.button1 {border-radius: 50%;}

/* icon for social media*/
 ul {
    list-style: disc;
    margin: 0 0 1.5em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px #c8cccf;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: -0.675em;
}

ul.icons li {
    display: inline-block;
    padding: 0.675em 0.5em;
}

ul.icons li a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: solid 1px #c8cccf;
    line-height: 3.75em;
    overflow: hidden;
    text-align: center;
    text-indent: 3.75em;
    white-space: nowrap;
}

ul.icons li a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.icons li a:before {
    color: #ffffff;
    text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
}

ul.icons li a:hover:before {
    text-shadow: 1.25px 0px 0px #ff7496, -1.25px 0px 0px #ff7496, 0px 1.25px 0px #ff7496, 0px -1.25px 0px #ff7496;
}

ul.icons li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 1.85rem;
    line-height: inherit;
    text-align: center;
    text-indent: 0;
}

ul.icons li a:hover {
    border-color: #ff7496;
}

@media screen and (max-width: 480px) {
    ul.icons li a:before {
        font-size: 1.5rem;
    }

}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 0.75em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}
